append head
  script(src='/javascripts/socket.js')
#v-pills-tabContent.tab-content
    #v-pills-admin-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-admin-home-tab')
        .navbar.little-nav
            p Home admin
        .tabinner
    #v-pills-admin-users.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-users-tab')
        .navbar.little-nav
            p Përdoruesit
            button.symbol(type='button' data-toggle='modal' data-target='#adminUserCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number = 0
                each val in users
                    li.list-group-item
                        - var userid = '#adminUsersModal' + number
                        - var userid2 = 'adminUsersModal' + number
                        include admin-users-modal
                        button.btn(type='button' data-toggle='modal' data-target=userid data-myvar=val) #{val.first_name} #{val.last_name}
                    - number++
    #v-pills-admin-kontratat.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-kontratat-tab')
        .navbar.little-nav
            p Kontratat admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminContractCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number1 = 0
                each val in details
                    li.list-group-item
                        - var contractid = '#adminContractsModal' + number1
                        - var contractid2 = 'adminContractsModal' + number1
                        include admin-kontratat-modal
                        button.btn(type='button' data-toggle='modal' data-target=contractid data-myvar=val)  Kontrata #{val.first_name} #{val.last_name}
                    - number1++
    #v-pills-admin-paga.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-paga-tab')
        .navbar.little-nav
            p Paga admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminPaymentCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number2 = 0
                each val in salarydetails
                    li.list-group-item
                        - var paymentid = '#adminPaymentsModal' + number2
                        - var paymentid2 = 'adminPaymentsModal' + number2
                        include admin-pagat-modal
                        button.btn(type='button' data-toggle='modal' data-target=paymentid data-myvar=val)  Paga #{val.salary_id}
                    - number2++
    #v-pills-admin-bonuset.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-bonuset-tab')
        .navbar.little-nav
            p Bonuset admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminBonusCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number3 = 0
                each val in bonuses
                    li.list-group-item
                        - var bonusesid = '#adminBonusesModal' + number3
                        - var bonusesid2 = 'adminBonusesModal' + number3
                        include admin-bonuset-modal
                        button.btn(type='button' data-toggle='modal' data-target=bonusesid data-myvar=val)  Bonus #{val.bonus_id}
                    - number3++
    #v-pills-admin-diskuto.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-diskuto-tab')
        .navbar.little-nav
            p Diskuto admin
        .tabinner
            head
            body
                .container-fluid.h-100
                    .row.h-100
                        .col-4.crypto-container
                            .row
                                .col-12.crypto-header
                                    button#ws-crypto.btn.btn-info
                                        | Subscribe to crypto trades
                            .col-12.crypto-trades
                        .col-8.chat-container
                            .chat-header
                                form#topic-form.form-inline.mb-0
                                    .form-group.mr-3
                                        input#topic-txt.form-control(type='text', placeholder='Chat name')
                                    .form-group.mr-3
                                        button#ws-create.btn.btn-dark-blue(type='button') Create
                                    .form-group.mr-3
                                        button#ws-sub.btn.btn-info(type='button') Subscribe
                                    .form-group.mr-3
                                        button#ws-unsub.btn.btn-dark-blue-inverse(type='button') Unsubscribe
                                    .form-group
                                        button#ws-connect.btn.btn-danger(type='button') Connect to WS
                            .chat-body
                            .chat-video-container
                                canvas#self-cam.chat-video
                                video#chat-video-src.chat-video.d-none(playsinline='', autoplay='')
                            .chat-footer
                                form#msg-form.form-inline.mb-0
                                    input#msg-text.form-control.mr-3(type='text', placeholder='Write your message...')
                                    button#send-msg.btn.btn-dark-blue.mr-3(type='button') Send
                                    button#send-video.btn.btn-dark-blue(type='button') Record
                