div.modal.fade(id = bonusesid2 data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            form(action='/updateBonus' method='POST')
                .modal-header
                    h5#exampleModalLabel.modal-title Bonus
                    button.close(type='button' data-dismiss='modal' aria-label='Close' onclick='bonSave()')
                        span.modal-title(aria-hidden='true') &times;
                .modal-body
                    .row
                        .col
                            label(for='user_id') UserID
                            input.form-control(type='text' id='user_id' value=val.user_id name='user_id')
                    .row
                        .col
                            label(for='oretShtese') Orët shtesë
                            input.form-control(type='text' id='oretShtese' value=val.extra_hours name='extra_hours')
                        .col
                            label(for='pagesaPerOreShtese') Pagesa për orët shtesë
                            input.form-control(type='text' id='pagesaPerOreShtese' value=val.price_extra_hours name='price_extra_hours')
                    .row
                        .col
                            label(for='orePuneNeJave') Orë pune në javë
                            input.form-control(type='text' id='orePuneNeJave' value=val.work_hours name='work_hours')
                        .col
                            label(for='pagesaPerOrePune') Pagesa për orë pune
                            input.form-control(type='text' id='pagesaPerOrePune' value=val.price_work_hours name='price_work_hours')
                    .row
                        .col
                            label(for='temeDiplome') Temë diplome
                            input.form-control(type='text' id='temeDiplome' value=val.bachelor_thesis name='bachelor_thesis')
                        .col
                            label(for='pagesaPerTemeDiplome') Pagesa për temë diplome
                            input.form-control(type='text' id='pagesaPerTemeDiplome' value=val.price_bachelor_thesis name='price_bachelor_thesis')
                    .row
                        .col
                            label(for='diplomeMaster') Provime master
                            input.form-control(type='text' id='diplomeMaster' value=val.master_thesis name='master_thesis')
                        .col
                            label(for='pagesaPerDiplomeMaster') Pagesa për provime master
                            input.form-control(type='text' id='pagesaPerDiplomeMaster' value=val.price_master_thesis name='price_master_thesis')
                    .row
                        .col
                            label(for='provimeMaster') Provime master
                            input.form-control(type='text' id='provimeMaster' value=val.master_exam name='master_exam')
                        .col
                            label(for='pagesaPerProvimeMaster') Pagesa për provime master
                            input.form-control(type='text' id='pagesaPerProvimeMaster' value=val.price_master_exam name='price_master_exam')
                            input.form-control(type='textfield' name='username' value=val.bonus_id style='display: none')
                .modal-footer
                    button.btn#bonSave(type='Submit' style='background-color:#980709; color:white') Save
                    button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close