append head
  script(src='/javascripts/socket.js')
  script(src='/javascripts/chat.js')
#v-pills-tabContent.tab-content
    #v-pills-admin-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-admin-home-tab')
        .navbar.little-nav
            p Home admin
        .tabinner
    #v-pills-admin-users.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-users-tab')
        .navbar.little-nav
            p Përdoruesit
            button.symbol(type='button' data-toggle='modal' data-target='#adminUserCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number = 0
                each val in users
                    li.list-group-item
                        - var userid = '#adminUsersModal' + number
                        - var userid2 = 'adminUsersModal' + number
                        include admin-users-modal
                        button.btn(type='button' data-toggle='modal' data-target=userid data-myvar=val) #{val.first_name} #{val.last_name}
                    - number++
    #v-pills-admin-kontratat.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-kontratat-tab')
        .navbar.little-nav
            p Kontratat admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminContractCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number1 = 0
                each val in contracts
                    li.list-group-item
                        - var contractid = '#adminContractsModal' + number1
                        - var contractid2 = 'adminContractsModal' + number1
                        include admin-kontratat-modal
                        button.btn(type='button' data-toggle='modal' data-target=contractid data-myvar=val)  Kontrata #{val.contract_id}
                    - number1++
    #v-pills-admin-paga.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-paga-tab')
        .navbar.little-nav
            p Paga admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminPaymentCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number2 = 0
                each val in salarydetails
                    li.list-group-item
                        - var paymentid = '#adminPaymentsModal' + number2
                        - var paymentid2 = 'adminPaymentsModal' + number2
                        include admin-pagat-modal
                        button.btn(type='button' data-toggle='modal' data-target=paymentid data-myvar=val)  Paga #{val.salary_id}
                    - number2++
    #v-pills-admin-bonuset.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-bonuset-tab')
        .navbar.little-nav
            p Bonuset admin
            button.symbol(type='button' data-toggle='modal' data-target='#adminBonusCreateModal') +
        .tabinner
            ul.list-group.list-group-flush
                - var number3 = 0
                each val in bonuses
                    li.list-group-item
                        - var bonusesid = '#adminBonusesModal' + number3
                        - var bonusesid2 = 'adminBonusesModal' + number3
                        include admin-bonuset-modal
                        button.btn(type='button' data-toggle='modal' data-target=bonusesid data-myvar=val)  Bonus #{val.bonus_id}
                    - number3++
    #v-pills-admin-diskuto.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-admin-diskuto-tab')
        .navbar.little-nav
            p Diskuto admin
        .tabinner
            .chat_window
                ul#messages.messages(value=val.message)
                .bottom_wrapper.clearfix
                    i#typing
                    form#form(action='/createChat' method='POST')
                        .message_input_wrapper
                            input#message.message_input(placeholder='Type your message here...')
                        button.send_message
                            | Send
//funksionalitet i chat                            
script.
  var socket = io();
  var messages = document.getElementById("messages");
  (function() {
  $("form").submit(function(e) {
  let li = document.createElement("li");
  e.preventDefault(); // prevents page reloading
  socket.emit("chat message", $("#message").val());
  messages.appendChild(li).append($("#message").val());
  let span = document.createElement("span");
  messages.appendChild(span).append("by " + "you" + ": " + "just now");
  $("#message").val("");
  return false;
  });
  socket.on("received", data => {
  let li = document.createElement("li");
  let span = document.createElement("span");
  var messages = document.getElementById("messages");
  messages.appendChild(li).append(data.message);
  messages.appendChild(span).append("by " + "Pranuesi" + ": " + "just now");
  });
  })();
  (function() {
  fetch("/createChat")
  .then(data => {
  return data.json();
  })
  .then(json => {
  json.map(data => {
  let li = document.createElement("li");
  let span = document.createElement("span");
  messages.appendChild(li).append(data.message);
  messages
  .appendChild(span)
  .append("by " + data.sender + ": " + formatTimeAgo(data.createdAt));
  });
  });
  })();
link(href='/css/style.css' type='text/css' rel='stylesheet')
script(src='/javascripts/socket.js')
script(src='https://code.jquery.com/jquery-1.11.1.min.js')
                