div.modal.fade(id = contractid2 tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Kontrata #{val.contract_id}
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                p Numri i llogarisë: #{val.bank_account_id}
                p Departamenti: #{val.department}
                p Pozita: #{val.position}
                p Data e fillimit: #{val.contract_registration_date}
                p Data e përfundimit: #{val.contract_termination_date}
                p Gjithsejt ditë pune: #{val.working_days}
                p Gjithsejt ditë pushimi: #{val.days_off}
                p Paga bazë: #{val.basic_salary}
            .modal-footer
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close